/*
--- 01 Typography System
- Font Sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font Weights
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

- Line Heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph Default: 1.6

- Letter Spacing
0.5px
0.75px

--- 02 Colors

- Primary: #F05454
- Secondary: #2a2a4d
- Tints: #2a2a4d
- Shades:
    #cf711f
    #45260a
- Accents:
- Greys:
    #555
    #333

--- 05 Shadows

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);


--- 06 Border-Radius
9px
12px

--- 07 Whitespace

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f05454;
  --secodary-color: #2a2a4d;
  --background-color: #f6f6f6;
  --gray: #555555;
  --gray-tint: #8c8c8c;
  --light-gray: #fafafa;
  --black: #000;
}

html {
  font-size: 62.5%;
  /*overflow-x: hidden;*/
  /*scroll-behavior: smooth;*/
}

body {
  font-size: inherit;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--gray);
  background-color: var(--background-color);
  -webkit-font-smoothing: antialiased;
  /*overflow-x: hidden;*/
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

/***********************/
/* Button */
/***********************/

.btn {
  padding: 1rem 1.5rem;
  font-size: inherit;
  display: inline-block;
  &-black {
    background-color: var(--black);
    color: white;
  }

  &--form {
    font-size: 1.4rem;
    font-weight: 700;
    background-color: #30ae42;
    color: #fff;
    border: none;
    padding: 1rem 2.2rem;
    text-transform: none;
  }
}

/***********************/
/* grid */
/***********************/

.grid {
  display: grid;
  column-gap: 1.8rem;
  row-gap: 2.4rem;
  &:not(:last-child) {
    margin-bottom: 5rem;
  }
  &--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  &--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  &--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
  &--5-cols {
    grid-template-columns: repeat(5, 1fr);
  }
  &--center-v {
    align-items: center;
  }
}

/***********************/
/* Margin */
/***********************/
.rt-margin-bot-medium {
  margin-bottom: 3.2rem;
}

/***********************/
/* Heading */
/***********************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
h1 {
  font-size: 48px;
  margin: 2rem 0;
}

h2 {
  font-size: 3.2rem;
  margin: 4.2rem 0 3.5rem;
  color: var(--black);
}

h3,
.h3 {
  font-size: 3.2rem;
  line-height: 1.15;
}

b,
strong {
  font-weight: bold;
}

p {
  margin: 0 0 1rem;
}

.main-title {
  display: -webkit-flex;
  /* display: flex; */
  -webkit-flex-flow: row nowrap;
  /* flex-flow: row nowrap; */
  margin: 1rem 0 3.5rem;
  /* width: 100%; */
  font-size: 1rem;
  -webkit-align-items: center;
  align-items: center;
}

.main-title:before {
  display: inline-block;
  content: " ";
  background-color: #d7d7d7;
  flex: 1 0;
  height: 1px;
}

.main-title:after {
  background-color: #d7d7d7;
  height: 1px;
  display: inline-block;
  content: " ";
  flex: 1 0;
}

.main-title--text {
  display: inline-block;
  -webkit-flex: none;
  -ms-flex: none;
  flex: none;
  margin: 0;
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 900;
  white-space: nowrap;
}

/***********************/
/* Heading */
/***********************/

a {
  text-decoration: none;
}

/* Navigation */

.header {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 3.2rem;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.logo {
  font-size: 2.4rem;
  font-weight: 700;
  /*text-transform: uppercase;*/
  text-decoration: none;
  color: var(--secodary-color);
  padding: 2rem 0;
}
.logo span {
  color: var(--primary-color);
}
.bi-search {
  width: 1.8rem;
  color: black;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.2rem;
  align-items: center;
}
.main-nav-list > li > a {
  text-transform: none;
  color: rgba(0, 0, 0, 0.8);
  font: 300 1.4rem "Roboto", sans-serif;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  /*font-weight: 500;*/
  transition: all 0.3s;
  padding: 2rem 0;
}

.main-nav-list .active {
  color: var(--primary-color);
  /*font-weight: bold;*/
}

/* Nav End */

/* Section Hero */

.section-hero-box {
  position: relative;
  display: grid;
}

.section-hero-post-1 img,
.section-hero-post-2 img,
.section-hero-post-3 img {
  width: 100%;
  height: 100%;
  aspect-ratio: 190 / 117;
}
.section-hero-post {
  position: relative;
  background-color: rgba(0, 0, 0, 1);
}

.section-hero-post-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 4;
  max-height: 468px;
}

.section-hero-post-2 {
  grid-column: 3;
  grid-row: 1 / span 2;
  max-height: 234px;
}
.section-hero-post-3 {
  max-height: 234px;
}

.hero-heading {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px;
  top: 60%;
  /*background: #00000030;*/
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7399334733893557) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.hero-heading h3 {
  position: absolute;
  bottom: 20px;
  padding: 0 10px;
  width: 80%;
  font-size: 3rem;
  color: white;
  line-height: 1.4;
}

.section-hero-post-2 .hero-heading,
.section-hero-post-3 .hero-heading {
  width: 100%;
}

.section-hero-post-2 .hero-heading h3,
.section-hero-post-3 .hero-heading h3 {
  font-size: 1.8rem;
}

.section-hero-box a {
  padding: 3rem;
  position: absolute;
  /*z-index: 1;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.15);
  transition: all 0.5s;
}

.section-hero-box a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

/* End */

/* Blog Section */

.blog-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.blog-content main {
}

.blog-content aside {
  /*margin: 0 0 0 2rem;*/
}

/* Blog Posts */
.blog-posts {
  background: white;
  padding: 2rem;
  box-shadow: 3px 3px rgba(70, 70, 70, 0.05);
}
.blog-posts-img-box {
  margin-bottom: 3rem;
}
.blog-posts-img-box img {
  height: auto;
  width: 100%;
}

.blog-posts h3 a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1.4rem;
}

.blog-posts p {
  font-size: 1.6rem;
  line-height: 1.5;
}

/* Horizontal blog Post */
.blog-posts--horizontal {
  display: flex;
  gap: 3rem;
}
.blog-posts--horizontal .blog-posts-img-box {
  margin-bottom: 0;
}

/* End */

/* Sidebar */

.widget {
  background-color: #fff;
  /*border-left: 3px solid var(--primary-color);*/
  box-shadow: 3px 3px rgba(70, 70, 70, 0.05);
  padding: 1.5rem;
  margin-bottom: 3rem;
}

/* Categories */
.widget ul {
  /*background-color: #f6f6f6;*/
  background-color: rgba(0, 0, 0, 0.02);
  margin: 0;
  padding: 15px 20px;
  list-style: none;
}

.widget ul li {
  font-size: 1.5rem;
  line-height: 3;
}
.widget ul li a {
  color: #333333;
  /*font-weight: 400;*/
  transition: color 0.15s, background 0.15s;
}
.cat-item {
  display: flex;
  gap: 5px;
}
.cat-item svg {
  width: 1.5rem;
}

/***********************/
/* Tags */
/***********************/

.widget-tags--area {
  text-align: center;
  padding: 15px 11px 7px;
  background-color: rgba(0, 0, 0, 0.02);
}

.widget-tags--area a {
  background-color: #fff;
  color: #ccc;

  display: inline-block;
  margin: 0 4px 8px;
  padding: 6px 12px;
}

/***********************/
/* Single Post */
/***********************/
.single-post {
  padding: 2.5rem;
  background-color: #fff;
  box-shadow: 3px 3px rgba(70, 70, 70, 0.05);
}
.entry-header .breadcrumb {
  margin: 0 0 2rem;
  padding: 0;
  background-color: transparent;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb a {
  color: var(--black);
  font-size: 1.4rem;
}
.breadcrumb > li + li:before {
  content: "/ ";
  padding: 0 1rem;
  color: #ccc !important;
}

.post-entry {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.4rem;
}
.entry-header ul,
.entry-header li {
  list-style: none;
}

.entry--category--name {
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.entry--meta-byline,
.entry--author > a {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.entry-author-name {
  color: var(--black);
  font-weight: 500;
}
.entry--author-avatar {
  border-radius: 100%;
  height: 2.5rem;
  width: 2.5rem;
}

.entry-title {
  font-size: 4.8rem;
  font-weight: 900;
  color: var(--black);
  line-height: 1.1;
}

.entry-featured-media {
  max-height: 525px;
  margin: 3rem 0;
}

.content p {
  font-size: 16px;
  max-width: 100%;
  margin-bottom: 2.5rem;
  color: var(--black);
  line-height: 1.75;
}

.entry-tags-box {
  background-color: var(--light-gray);
  margin: 3rem 0;
  padding: 1.8rem 2.4rem;
  border-bottom: 1px solid #f6f6f6;
}

.entry-tags-box .entry-tags {
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0;
}
.entry-tag a {
  color: var(--gray);
}

.entry-tag:after {
  content: ", ";
  color: var(--black);
}

.entry-tag:last-child:after {
  content: "";
}

.entry-comment-list {
  clear: both;
  margin: 2.4rem 0;
  padding: 2.4rem 0 0;
  list-style: none;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6;
  font-size: 1rem;
}

.entry-comment {
  display: flex;
  gap: 3rem;
  margin-bottom: 3rem;
}

.comment-reply {
  width: 90%;
  margin-left: auto;
  list-style-type: none;
}

.comments-body {
  font-size: 1.4rem;
}

.comments-body a {
  color: var(--black);
}

.comment-author {
  margin-bottom: 1rem;
}
.comment-author strong {
  margin-right: 1rem;
}
.comments-body .comment-content {
  color: var(--gray-tint);
  line-height: 1.5;
  margin-bottom: 1rem;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem;
  border-bottom: 1px solid white;
}

.contact-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: white;
}

.contact-form div:nth-child(4) {
  grid-column: 1 / -1;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.04);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-size: 1.5rem;
  color: #aaa;
}

.contact-form *:focus {
  outline: none;
  /*outline: 4px dotted #e67e22;*/
  /*outline-offset: 8px;*/
  box-shadow: 0 0 0 3px var(--background-color);
}
.contact-us-form h2 {
  margin-bottom: 1.5rem;
}

/* Footer */
.footer {
  padding: 3.5em 0 0;
  background-color: rgb(87, 88, 89);
  text-align: center;
}

.footer-nav {
  margin-bottom: 3rem;
}

.footer-nav ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.footer-nav ul li a:link,
.footer-nav ul li a:visited {
  color: white;
  font-size: 1.6rem;
}

.copyright {
  border-top: 1px solid var(--light-gray);
  padding: 3rem;
  margin: 0;
  color: var(--light-gray);
}
