/*
--- 01 Typography System
- Font Sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-Font Weights
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

- Line Heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph Default: 1.6

- Letter Spacing
0.5px
0.75px

--- 02 Colors

- Primary: #F05454
- Secondary: #2a2a4d
- Tints: #2a2a4d
- Shades:
    #cf711f
    #45260a
- Accents:
- Greys:
    #555
    #333

--- 05 Shadows

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);


--- 06 Border-Radius
9px
12px

--- 07 Whitespace

- Spacing System (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #F05454;
    --secodary-color: #2a2a4d;
    --background-color: #f6f6f6;
}

html{
    font-size: 62.5%;
    /*overflow-x: hidden;*/
    /*scroll-behavior: smooth;*/
}

body{
    font-size: inherit;
    /*font-family: "Hind Siliguri", Arial, Helvetica, sans-serif;*/
    /*font-family: 'Josefin Sans', sans-serif;*/
    /* font-family: 'Roboto Condensed', sans-serif; */

    line-height: 1.4;
    font-weight: 400;
    color: #555555;
    background-color: var(--background-color);
    /*overflow-x: hidden;*/
}

.container{
    max-width: 114rem;
    margin: 0 auto;
}

/***********************/
/* grid */
/***********************/

.grid{
    display: grid;
    column-gap: 1.8rem;
    row-gap: 2.4rem;
}

.grid:not(:last-child){
    margin-bottom: 5rem;
}

.grid--2-cols{
    grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols{
    grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols{
    grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols{
    grid-template-columns: repeat(5, 1fr);
}
.grid--center-v{
    align-items: center;
}


/***********************/
/* Margin */
/***********************/

.rt-margin-bot-medium{
    margin-bottom: 3.2rem;
}

/***********************/
/* Heading */
/***********************/

.main-title{
    display: -webkit-flex;
    /* display: flex; */
    -webkit-flex-flow: row nowrap;
    /* flex-flow: row nowrap; */
    margin: 1rem 0 3.5rem;
    /* width: 100%; */
    font-size: 1rem;
    -webkit-align-items: center;
    align-items: center;
}

.main-title:before{
    display: inline-block;
    content: " ";
    background-color: #d7d7d7;
    flex: 1 0;
    height: 1px;
}

.main-title:after{
    background-color: #d7d7d7;
    height: 1px;
    display: inline-block;
    content: " ";
    flex: 1 0;
}

.main-title--text{
    display: inline-block;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
    margin: 0;
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 900;
    white-space: nowrap;
}

/***********************/
/* Heading */
/***********************/

a{
    text-decoration: none;
}

/* Navigation */

.header{
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 3.2rem;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.05);

}

.logo{
    font-size: 2.4rem;
    font-weight: 700;
    /*text-transform: uppercase;*/
    text-decoration: none;
    color: var(--secodary-color);
    padding: 2rem 0;
}
.logo span{
    color: var(--primary-color);
}
.bi-search{
    width: 1.8rem;
    color: black;

}

.main-nav-list{
    list-style: none;
    display: flex;
    gap: 4.8rem;
    align-items: center;
}

.main-nav-link:link, .main-nav-link:visited{
    display: inline-block;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: #333;
    transition: all .3s;
    padding: 2rem 0;
}

.main-nav-list .active{
    color: var(--primary-color);
}

/* Nav End */


/* Section Hero */

.section-hero-box{
    position: relative;
    display: grid;
    /*grid-template-columns:6fr 4fr;*/
    /*grid-template-rows: 1fr;*/
}

.section-hero-post-1 img,
.section-hero-post-2 img,
.section-hero-post-3 img{
    width: 100%;
    height: 100%;
    aspect-ratio: 190 / 117;
}
.section-hero-post{
    position: relative;
    background-color: rgba(0, 0, 0, 1);
}
/*.section-hero-post:hover{*/
/*    background-color: rgba(0, 0, 0, 1);*/
/*}*/

.section-hero-post-1{
    grid-column: 1 / 3;
    grid-row: 1 / 4;
    max-height: 468px;
}

.section-hero-post-2{
    grid-column: 3;
    grid-row: 1 / span 2;
    max-height: 234px;
}
.section-hero-post-3{
    max-height: 234px;
}

.hero-heading{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    top: 60%;
    /*background: #00000030;*/
    background: linear-gradient(
            0deg
            , rgba(0,0,0,0.7399334733893557) 0%, rgba(0,0,0,0) 100%);
}

.hero-heading h3{
    position: absolute;
    bottom: 20px;
    padding: 0px 10px;
    width: 60%;
    font-size: 3rem;
    color: white;
    line-height: 1.4;
}

.section-hero-post-2 .hero-heading, .section-hero-post-3 .hero-heading{
    width: 100%;
}

.section-hero-post-2 .hero-heading h3, .section-hero-post-3 .hero-heading h3{
    font-size: 1.5rem;
}

.section-hero-box a{
    padding: 3rem;
    position: absolute;
    /*z-index: 1;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    background-color: rgba(0,0,0,0.15);
    transition: all .5s;
}

.section-hero-box a:hover{
    background-color: rgba(0,0,0,0.30);
}

/* End */


/* Blog Section */

.blog-content{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.blog-content main{


}

.blog-content aside{
    /*margin: 0 0 0 2rem;*/
}

/* Blog Posts */
.blog-posts{
    background: white;
    padding: 2rem;
    box-shadow: 3px 3px rgba(70, 70, 70, .05);
}
.blog-posts-img-box{
    margin-bottom: 3rem;
}
.blog-posts-img-box img{
    height: auto;
    width: 100%;
}

.blog-posts h3 a{
    color: #333;
    text-decoration: none;
    display: inline-block;
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
}

.blog-posts p{
    font-size: 1.4rem;
}

/* Horizontal blog Post */
.blog-posts--horizontal{
    display: flex;
    gap: 3rem;
}
.blog-posts--horizontal .blog-posts-img-box{
    margin-bottom: 0;
}






/* End */

/* Sidebar */

.widget{
    background-color: #fff;
    /*border-left: 3px solid var(--primary-color);*/
    box-shadow: 3px 3px rgba(70, 70, 70, .05);
    padding: 1.5rem;
    margin-bottom: 3rem;
}

/* Categories */
.widget ul{
    /*background-color: #f6f6f6;*/
    background-color: rgba(0,0,0,0.02);
    margin: 0;
    padding: 15px 20px;
    list-style: none;
}

.widget ul li{
    font-size: 1.5rem;
    line-height: 3;
}
.widget ul li a {
    color: #333333;
    /*font-weight: 400;*/
    transition: color .15s,background .15s;
}
.cat-item{
    display: flex;
    gap: 5px;
}
.cat-item svg{
    width: 1.5rem;
}

/* Tags */

.widget-tags--area{
    text-align: center;
    padding: 15px 11px 7px;
    background-color: rgba(0,0,0,0.02);
}

.widget-tags--area a{
    background-color: #fff;
    color: #ccc;

    display: inline-block;
    margin: 0 4px 8px;
    padding: 6px 12px;
}


/* Footer */
.footer{
    padding: 3.5em 0 3.5rem;
    background-color: rgb(87, 88, 89);
    text-align: center;
}

.footer-nav{
margin-bottom: 3rem;
}

.footer-nav ul{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.footer-nav ul li a:link, .footer-nav ul li a:visited{
    color: white;
    font-size: 1.6rem;
}

.copyright{
    border-top: 1px solid white;
    padding-top: 3rem;
    color: white;
}
